<!DOCTYPE html>
<html>
  <head>
  <style>
  body {background-color:#B0C4DE}
  h1 {
  color:#BA55D3;
  font-family: Georgia, serif;
  }
  p {
  color: #4682B4;
  font-family: "Times New Roman", Times, serif;
  }
  div.image {
  left-margin: auto;
  right-margin: auto;
  }
  </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hawbridge Coders</title>
  </head>
  <body>
    <div class="container">
    <div class="Welcome">
      <h1>Coalition for the Support of GE Research</h1>
      <p>GMOs for a better Tomorrow</p>
      <p>The Mission of the Coalition for the Support of GMO Research is to promote human quality of life and the advancement of technology and scientific understanding of genetics by encouraging research into genetic engineering and modification.</p>
    </div>
    </div>
     
    <div class="container">
    <div class="About">
      <h1>About GMOs</h1>
      <p>According to the magazine Live Science, GMOs are defined as an organism that has had its DNA altered or modified in some way through genetic engineering./p>
      <p>In most cases, a gene is taken from an organism and spliced into the DNA of another, altering the characteristics of the recieving organism in some way.</p>
      <p>The strength of GMOs are their versatility. High-grade industrial silk, for example, can be made from the milk of GMO goats, while GMO rice can produce Vitamin A in starving communities.</p>
      <p>However, GMOs have applications far beyond farming or resource harvesting. Scientists working with organisations like the NIH have been working on "gene therapy" for combating disease.</p>
      <p>Gene therapy involves either changing a mutated gene to treat a hereditary condition or "injecting" the body with cells, such as Killer T-cells, that are genetically programmed to recognize certain pathogens.</p>
      <p>Therapy involves modifying a virus, usually and adenovirus or retrovirus, to carry the information for a healthy gene while removing the DNA that makes the virus damaging.</p>
      <p>The virus enters the target cell as it normally would, then splices the new, helpful gene into the cell through protien cutting. The cell then begins to function normally or to exhibit the trait being modified for.</p>
    </div>
    </div>
    
    <div class="container">
    <div class="Safety">
      <h1>GMO Safety</h1>
      <p>GMOs are often reported as unsafe by many of the most vocal activist groups and media, however, the science seems to point the other way. According to the AAAS in 2012, several notable institutions, such as the American Medical Association, US National Academy for the Sciences, and the British Royal Society, have advocated the safety of GMOs.</p>
      <h2>British Royal Society</h2>
      <p>A report done by the British Royal Society in 1998 stated that, "There is no reason to doubt the safety of foods made from GM ingredients that are currently available, nor to believe that genetic modification makes foods inherently less safe than their conventional counterparts."</p>
      <p>The report also stated, " There is at present no evidence that GM foods cause allergic reactions. The allergenic risks posed by GM plants are in principle no greater than those posed by conventionally derived crops or by plants introduced from other areas of the world," and, "Having reviewed the scientific evidence, the Royal Society concluded that the use of specific viral DNA sequences in GM plants poses a negligible risk to human health."</p>
      <p>Proffessor Jim Smith FRS, the Chairman of the Working Committee that developed that report, is quoted as saying, "We have looked at all of the available research, and found nothing to suggest that the process of genetic modification makes potential foodstuffs inherently unsafe...It is obvious that consumers want their food to be safeguarded by rules that are rigorous enough to prevent any loopholes. But the legislation must not be so restrictive that it removes any incentive for introducing new food products that are potentially beneficial to society."</p>
      <p>The report acknowledges that " It is possible that GM technology could lead to unpredicted harmful changes in the nutritional status of foods (MRC, 2000)," however, it also notes that, "Such alterations might also occur in the course of conventional breeding."
      
      <h2>US National Academy for the Sciences</h2>
      <p> Another report, done by the US National Academy for the Sciences in May of 2016, claims that, "Overall, the committee found no conclusive evidence of cause-and-effect relationships between GE crops and environmental problems." The report went on to say, regarding human health, "Although the design and analysis of many animal-feeding studies were not optimal, the many available animal experimental studies taken together provided reasonable evidence that animals were not harmed by eating foods derived from GE crops."
      <p> In addition, the report stated that "No pattern of differences was found among countries in speciﬁc health problems after the introduction of GE foods in the 1990s." The report studied areas where GMOs were in moderate-to-high use, such as the US and Canada, and compared them to areas where GMOs were not frequently used, such as Western Europe.</p>
      
      <h2>World Health Organization</h2>
      <p>The World Health Organization has affirmed that, "No allergic effects have been found relative to GM foods currently on the market," and that, "GM foods currently available on the international market have passed safety assessments and are not likely to present risks for human health. In addition, no effects on human health have been shown as a result of the consumption of such foods by the general population in the countries where they have been approved."
      
      <h2> Safer than Regular Food?</h2>
      In addition to the previous evidence, the WHO has claimed that, "Generally consumers consider that conventional foods (that have an established record of safe consumption over the history) are safe. Whenever novel varieties of organisms for food use are developed using the traditional breeding methods that had existed before the introduction of gene technology, some of the characteristics of organisms may be altered, either in a positive or a negative way. National food authorities may be called upon to examine the safety of such conventional foods obtained from novel varieties of organisms, but this is not always the case.</p> 
      <p>In contrast, most national authorities consider that specific assessments are necessary for GM foods. Specific systems have been set up for the rigorous evaluation of GM organisms and GM foods relative to both human health and the environment. Similar evaluations are generally not performed for conventional foods. Hence there currently exists a significant difference in the evaluation process prior to marketing for these two groups of food."</p>
      <p>The processing of food must also be taken into account. While the consumption of ice-cream is generally regarded as having no immediate long-term effects for the average consumer when consumed in moderation, unsafe sanitation practices caused Listeriosis contamination in Blue Bell ice cream that caused an outbreak, which lead to three deaths and ten hospitalizations accross four states over a period of five years. Unsafe practices can make any food unfit for consumption. The issue of whether GMOs are unsafe is something heavily contested by science.</p>

      <h2>Why the Concern?</h2>
      <p>According to the World Health Organization, "Consumer confidence in the safety of food supplies in Europe has decreased significantly as a result of a number of food scares that took place in the second half of the 1990s that are unrelated to GM foods. This has also had an impact on discussions about the acceptability of GM foods. Consumers have questioned the validity of risk assessments, both with regard to consumer health and environmental risks, focusing in particular on long-term effects."</p>
      <p>This would suggest that the issue, then, is not the issue of GMOs, but of the food industry in general. If left in a warm, dark, damp, unsanitary environment for several weeks, any corn will spoil, regardless of whether it is GM or not. If produced with equipment contaminated with Listeriosis, ice-cream is at significant risk of being contaminated, regardless of whether it is made with GM ingredients or not.</p>
    </div>
    </div>
    
    <div class="container">
    <div class="GMO Benefits">
      <h1>GMO Benefits</h1>
      <p>GMO's and GMO research can benefit any of the following areas and problems:</p>
        <ul>
        <li>Sustainable Resource Harvesting</li>
        <li>Environmental Damage Clean-up</li>
        <li>Medicine, especially the treatment of genetically-inherited diseases such as Alzheimers</li>
        <li>Manufacturing</li>
        <li>Waste-To-Energy Trash Digestors</li>
        <li>Farming and Hunger</li>
        <li>Understanding of Genetics</li>
        <li>So much more</li>
        </ul>
    
    <div class="container">
    <div class="Further Material">
      <h1>Further Material</h1>
        <h2>Further Research</h2>
        <a href="https://docs.google.com/document/d/11l9en3-3szHJB_NRZelQnBYSZ9hEOIFZ_dt1jHd567s/edit?usp=sharing">Research Paper</a>
        
        <h2>Promotional Material</h2>
        <p>[insert video or flyer]</p>
        
        <h2>Get Involved</h2>
        <p>[insert Change.org link]</p>
  </body>
</html>
