<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hawbridge Coders</title>
  </head>
  <body>
    <div class="container">
    <div class="Welcome">
      <h1>Hawbridge Coders</h1>
      <p>Welcome</p>
      <h1> This site is under construction.</h1>
      <img src="http://nuxeocom.c.presscdn.com/wp-content/uploads/2014/04/constructocat2.jpg" alt="Under Construction"
    </div>
    </div>
    
    <div class="container">
    <div class="About">
      <h1>About Hawbridge Coders</h1>
      <p>Hawbridge Coders is the official computer-coding club of the Hawbridge School. We are a student-formed club dedicated to computer programming, and we meet every Tuesday.</p>
      <p>The club is open to all Hawbridge students, but we reccomend that you have some sort of background in HTML and CSS so that you can make a website like this one.</p>
    </div>
    </div>
    
    <div class="container">
      <div class="Projects">
        <h1>Projects</h1>
          <h2>Current</h2>
          <ul>
            <li>Learn HTML/CSS on Codeacademy</li>
            <li>Create a web-app on Github+Heroku</li>
          </ul>
          <h2>Upcoming</h2>
          <ul>
            <li>Learn JavaScript</li>
            <Create a website with JavaScript</li>
          </ul>
      </div>
    </div>
    <div class="container">
    <div class="Special Thanks">
      <h1>Special Thanks</h1>
      <ul>
        <li>Mrs. Rasmussen</li>
        <li>Mr. London</li>
      </ul>
    </div>
    </div>
  </body>
</html>
