<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hawbridge Coders</title>
  </head>
  <body>
    <div class="container">
    <div class="Welcome">
      <h1>Hawbridge Coders</h1>
      <p>Welcome</p>
      <h1> This site is under construction.</h1>
      <img src="http://nuxeocom.c.presscdn.com/wp-content/uploads/2014/04/constructocat2.jpg" alt="Under Construction"
    </div>
    </div>
    
    <div class="container">
    <div class="About">
      <h1>About Hawbridge Coders</h1>
      <p>Hawbridge Coders is the official computer-coding club of the Hawbridge School.</p>
  </body>
</html>
