<!DOCTYPE html>
<html>
  <head>
  <style>
  body {background-color:#B0C4DE}
  h1 {
  color:#BA55D3;
  font-family: Georgia, serif;
  }
  p {
  color: #4682B4;
  font-family: "Times New Roman", Times, serif;
  }
  div.image {
  left-margin: auto;
  right-margin: auto;
  }
  </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hawbridge Coders</title>
  </head>
  <body>
    <div class="container">
    <div class="Welcome">
      <h1>GMOs Against World Hunger</h1>
      <p>Refining an Ancient System</p>
      <h1> This site is under construction.</h1>
    </div>
    </div>
    
    <div class="image">
       <img src="http://nuxeocom.c.presscdn.com/wp-content/uploads/2014/04/constructocat2.jpg" alt="Under Construction"</scr>
     </div>
     
    <div class="container">
    <div class="About">
      <h1>About GMOs</h1>
      <p>According to the magazine Live Science, GMOs are defined as an organism that has had its DNA altered or modified in some way through genetic engineering./p>
      <p>In most cases, a gene is taken from an organism and spliced into the DNA of another, altering the characteristics of the recieving organism in some way.</p>
    </div>
    </div>
  </body>
</html>
