<!DOCTYPE html>
<html>
  <head>
  <style>
  body {background-color:#B0C4DE}
  h1 {
  color:#BA55D3;
  font-family: Georgia, serif;
  }
  p {
  color: #4682B4;
  font-family: "Times New Roman", Times, serif;
  }
  div.image {
  left-margin: auto;
  right-margin: auto;
  }
  </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hawbridge Coders</title>
  </head>
  <body>
    <div class="container">
    <div class="Welcome">
      <h1>Coalition for the Support of GMO Research</h1>
      <p>GMOs for a better Tomorrow</p>
      <h1> This site is under construction.</h1>
    </div>
    </div>
    
    <div class="image">
       <img src="http://nuxeocom.c.presscdn.com/wp-content/uploads/2014/04/constructocat2.jpg" alt="Under Construction"</scr>
     </div>
     
    <div class="container">
    <div class="About">
      <h1>About GMOs</h1>
      <p>According to the magazine Live Science, GMOs are defined as an organism that has had its DNA altered or modified in some way through genetic engineering./p>
      <p>In most cases, a gene is taken from an organism and spliced into the DNA of another, altering the characteristics of the recieving organism in some way.</p>
      <p>The strength of GMOs are their versatility. High-grade industrial silk, for example, can be made from the milk of GMO goats, while GMO rice can produce Vitamin A in starving communities.</p>
      <p>However, GMOs have applications far beyond farming or resource harvesting. Scientists working with organisations like the NIH have been working on "gene therapy" for combating disease.</p>
      <p>Gene therapy involves either changing a mutated gene to treat a hereditary condition or "injecting" the body with cells, such as Killer T-cells, that are genetically programmed to recognize certain pathogens.</p>
      <p>Therapy involves modifying a virus, usually and adenovirus or retrovirus, to carry the information for a healthy gene while removing the DNA that makes the virus damaging.</p>
      <p>The virus enters the target cell as it normally would, then splices the new, helpful gene into the cell through protien cutting. The cell then begins to function normally or to exhibit the trait being modified for.</p>
    </div>
    </div>
  </body>
</html>
